.maindiv {
  background-color: whitesmoke;
  height: 100vh;
}

#heading {
  width: 100%;
  /* background-color: aqua; */
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.fieldiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#urllabel {
  padding: 5px 8px;
}

#urltxtfield {
  width: 400px;
  padding: 5px 8px;
  color: rgb(129, 125, 125);
  outline: none;
}

.buttncontain {
  display: flex;
  width: 100%;
  /* background-color: aqua; */
  justify-content: center;
}

#scrapbutton,
#dwnldbutton {
  padding: 5px 8px;
  width: 100px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(136, 136, 136, 0.438);
  cursor: pointer;
}

#scrapbutton:hover,
#dwnldbutton:hover {
  background-color: white;
}

#scrapbutton {
  margin-right: 40px;
}

#dwnldbutton {
  margin-left: 40px;
}

.tablecontainer {
  width: 100%;
  /* background-color: aqua; */
  /* margin-top: px; */
  padding: 10px;
}

.tablehead {
  width: 100%;
  padding: 5px 0px;
  background-color: rgb(179, 174, 174);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.headrow {
  background-color: rgb(179, 174, 174);
}

#thcell {
  font-size: 15px;
  border-right: 1px solid rgb(97, 97, 97);
  padding: 5px;
}

#tbcell {
  border-right: 1px solid rgb(97, 97, 97);
  padding: 5px;
}

#scrapedtab {
  overflow-y: auto;
  table-layout: auto;
  width: 100%;
  max-height: 300px;
  border-collapse: collapse;
  border: 1px solid rgba(49, 46, 46, 0.651);
}

.loadingstatus {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 550px) {
  #urltxtfield {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  #scrapbutton {
    margin-right: 10px;
  }

  #dwnldbutton {
    margin-left: 10px;
  }
}
